* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
.markdown {
  height: 400px !important;
}
